<!DOCTYPE html>
<html>
<head>
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	 <link  type="text/css" rel="stylesheet" href="styles.css">
	<title>
		add an item to your personal list
	</title>
  <link rel="shortcut icon" href="#" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link type="text/css" rel="stylesheet" href="C:\Users\ved67\Desktop\testing(1)\static\css\styles.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, height=device-height">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
 <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/aos.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
     <script  type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
     <script  type="text/javascript" src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/vedo.css') }}">
      </head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="50">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
 <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/aos.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
     <script  type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
     <script  type="text/javascript" src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
	 <div class="topnav">
  <a  href="/">Home</a>
  <a href="/calculator">body basics</a>
  <a href="login.html">login</a>
  <a  href="count.html"> calculate calorie_intake</a>
</div>
<section class="hero d-flex flex-column justify-content-center align-items-center">

   <h1 style="text-align: center; color: white"> Add something new </h1>
   <p style="color: white">
    <ul style="color:white">
    	<li>  This is where you can personalize your calorie intakes. </li>
    	<li> Method 1 allows you to add food items whose calories you know. Just remember to add the calories per 100 grams.</li>
    	<li>  Method 2 allows you add the calories in your home made dishes. For instance, I want to add cheese sandwich. I add 5 grams of cheese and 25 grams of bread and then click 'add the dish'. Therefore, the next time i reference my food list, I will see sandwich.
      </li>
    </ul>
   </p>
   <p>
   	<div class="item-page">
  <div class="form" id="newitem">
   	<label> method 1 </label> 
   	<form action="/add" method="post">
   		<input type="text" name="name" placeholder="dish or item name">
   		<input type="number" name="calories_amount" placeholder="calories that the item has per 100 grams.">
   		<input type="submit" value="add the item in my list">
   	</form>
   </p>
   <p>
   	<label> method 2 </label>
   	<form action="/countdish" method="post">
   		<input name="item" list="foods" placeholder="select the item">
   		<datalist id="foods">
   		 {%for food_calorie in food_calories %}
    	     <option value="{{food_calorie.food_item}} - {{food_calorie.calories}}"> </option>
    	 {% endfor %}
   		</datalist>
   		<input type="text" name="name" placeholder="item or dish name" >
   		<input type="number" name="amount" placeholder="how much amount in grams">
   		<input type="submit" value="add the component" formaction="/countdish" method="post">
   		<input type="submit" value="add the dish" formaction="/add_dish" method="post">
   	</form>
   </p>
    <p style="color:black; font-weight: bold;">
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </p>
  </div>
</div>
</p>
</section>

