<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
     <link  type="text/css" rel="stylesheet" href="styles.css">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
 <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/aos.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
     <script  type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
     <script  type="text/javascript" src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
    <title>
        output
    </title>
</head>
<body>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
 <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/aos.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
     <script  type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
     <script  type="text/javascript" src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
    <div class="topnav">
  <a  href="/">Home</a>
  <a href="/calculator">body basics</a>
  <a href="login.html">login</a>
  <a  href="count.html"> calculate calorie_intake</a>
</div>
    <section class="hero1 d-flex flex-column justify-content-center align-items-center">
    <div class="output-form">
        <p>
            your bmi is: {{bmi}}
        </p>
        <p>
            your bmr is: {{bmr}}
        </p>
        <p>
            your daily calorie intake shoud be : {{calorie}}
        </p>
        <p>
            your body fat percentage is : {{body_fat_percentage}}
        </p>
        <p>
        your lean_mass is : {{lean_mass}}
        </p>
        <form action="/diet_cal">
            <p style="color:blue; font-style: italic; font-size: 15; font-weight:unset;">
                If you want to see dieting plans click below
            </p>
            <input type="submit" value="view dieting plans" style="background-color: green; color:white; min-width: 75px">
        </form>
    </div>
  </section>
     </body>
</html>